<!-- START TRACKING -->
<!-- Google Tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3JJPF4HP18"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  // Analytics Measurement ID
  gtag('config', 'G-3JJPF4HP18');
  
  // Google Ads ID (Replace AW-PLACEHOLDER when you get it)
  // gtag('config', 'AW-PLACEHOLDER');
</script>

<!-- Event snippet for Website lead conversion page -->
<script>
  function gtag_report_conversion(url) {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
        // Replace with your AW-ID and Label when you get them
        'send_to': 'G-3JJPF4HP18', 
        'event_callback': callback
    });
    return false;
  }
</script>
<!-- END TRACKING -->


